{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/jrmunamurcobra/js/cobra.js') }}" type="text/javascript"></script>
{% endblock %}

{% block section_content %}
    {{ display | raw }}
    <div id="details"></div>
{% endblock %}